td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;

}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

/* Hides Google Maps Logo, TOU, and Error Report */
/* http://stackoverflow.com/questions/12499886/how-to-hide-or-disable-the-google-logo-footer-copyright-on-google-maps-javascr */

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}